*{
    background-color: white;
    /*overflow: auto;*/
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 16px;*/

   
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header{
    height: 14.0625rem;
    width:63.125rem;
    background-color: #ab183d;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    /*margin-top: 5px;*/

}
.head-title{
    background-color: #ab183d;
    color: #fff;
    position: absolute;
    top:1.5rem;
    right: 500px;
 
}

.head-title h1{
    color:#fff;
    font-size: 3.2rem;
    background-color: #ab183d;

}
.logo{
    background-color: #ab183d;
    padding: 0.625rem 0 0.625rem 0;
    margin: 1.25rem 0  0 0;
    position: absolute;
    right: 43.75rem;
    top: 1.25rem;
    
    
}
.logo img{
    height: 133px;
    width: 133px;
    background-color: #ab183d;
    position: relative;
    left:-8.1rem;
    bottom: 1.4rem;
    border: 6px dotted white;
    border-radius: 50%;
    border-width: 10px;
    animation: spin 5s linear infinite normal;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    /*50%{
        border-right: 16px dotted goldenrod;
    }*/
    100%{
        transform: rotate(360deg);
    }
}

.logo img+b{
    color:#fff;
    background-color: #ab183d;
    z-index: 1;
    font-size: 1.2rem;
    position: relative;
    left: 7.9rem;
    bottom: 3rem;
}
.navbar-list{
    height: 3.125rem;
    width: 60.5rem;
    background-color: black;
   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    left: 15.97rem;
    top: 10.9rem;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    border-right: 2px solid #fff;

}
.navbar ul li{
    display: inline;
    background-color: black;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding-right: 2rem;
  
}
.navbar ul li a{
    text-decoration: none;
    background-color: black;
    color: #fff; 
}

.navbar ul li a:hover{
    text-decoration: #ff6347 underline;
   
}
.notice{
    height: 154.650px;
    width:1178.400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 6rem;
}
.notice-heading{
    width: 1010px;
    height: 23.2px;
    font-size: 10px;
    margin: 13.400px 0;
}
.notice-strong{
    display: flex;
    justify-content: center;
    height: 23.2px;
    width: 1010px;
    margin: 13.400px 0;
    color: red;
}



/*.notice h1{
    width: 1178.4px;
    height: 23.2px;
    font-size: 20px;
}
.notice ul li a{
    text-decoration: none;
    color: blue;
    font-size: 1.2rem;

}*/
.marquee{
    width: 980px;
    font-size: 3;
   
}
.marquee a{
    color: blue;
}
table{
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.data1{
    background-color: #0404b4;
    height: 65px;
    width:245px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:1.3rem;
    border-radius: 10px;
    transition: 0.5s;
   
}
.data1:hover{
    box-shadow: 2px 2px 8px black;

}
.data1 a{
    background-color: #0404b4;
    color: #fff;
    font-weight: 600;
    text-decoration: none;

 }
 .data2{
    background-color: #ff6347;
    height: 65px;
    width:245px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:1.3rem;
    border-radius: 10px;
    transition: 0.5s;
   
}
.data2:hover{
    box-shadow: 2px 2px 8px black;

}
.data2 a{
    background-color: #ff6347;
    color: #fff;
    font-weight: 600;
    text-decoration: none;

 }
 .data3{
    background-color:#ab183d;
    height: 65px;
    width:245px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:1.3rem;
    border-radius: 10px;
    transition: 0.5s;
   
} 
.data3:hover{
    box-shadow: 2px 2px 8px black;

}
.data3 a{
    background-color:#ab183d;
    color: #fff;
    font-weight: 600;
    text-decoration: none;

 }
 .data4{
    background-color:grey;
    height: 65px;
    width:245px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:1.3rem;
    border-radius: 10px;
    transition: 0.5s;
   
}  
.data4:hover{
    box-shadow: 2px 2px 8px black;

}
.data4 a{
    background-color:grey;
    color: #fff;
    font-weight: 600;
    text-decoration: none;

 }
 .data5{
    background-color:red;
    height: 65px;
    width:245px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:1.3rem;
    border-radius: 10px;
    transition: 0.5s;
   
}   
.data5:hover{
    box-shadow: 2px 2px 8px black;

}
.data5 a{
    background-color:red;
    color: #fff;
    font-weight: 600;
    text-decoration: none;

 }
 .data6{
    background-color:green;
    height: 65px;
    width:245px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:1.3rem;
    border-radius: 10px;
    transition: 0.5s;
   
}    
.data6:hover{
    box-shadow: 2px 2px 8px black;

}
.data6 a{
    background-color:green;
    color: #fff;
    font-weight: 600;
    text-decoration: none;

 }
 .data7{
    background-color:peru;
    height: 65px;
    width:245px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:1.3rem;
    border-radius: 10px;
    transition: 0.5s;
   
}  
.data7:hover{
    box-shadow: 2px 2px 8px black;

} 
.data7 a{
    background-color:peru;
    color: #fff;
    font-weight: 600;
    text-decoration: none;

 }  
 .data8{
    background-color:blueviolet;
    height: 65px;
    width:245px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:1.3rem;
    border-radius: 10px;
    transition: 0.5s;
   
}   
.data8:hover{
    box-shadow: 2px 2px 8px black;

}
.data8 a{
    background-color:blueviolet;
    color: #fff;
    font-weight: 600;
    text-decoration: none;

 }   
 .table-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 1350px;
    height: auto;
    position: relative;
    left: 4.9rem;
 }
 .table-items{
    border-style: groove;
    border: 2px solid #ff6347;
    justify-content: center;
 }
 .box{
   /* margin: 15px 15px 15px 15px;*/
    justify-content: center;
 }
 .table-header{
    background-color: #ab183d;
    color: white;
    font-size: 25px;
    height: 28px;

    transform: scale(1.01,1.08);
 }
.table-data{
   
    height:auto;
    width: 300px; 
    display: flex;
    justify-content: center; 
} 

.table-data ul{
   /* display: flex;
    flex-wrap: wrap;
    flex-direction:row;*/
    
}
.tablle-record{
}
.table-data ul li a{
   /* font-size:20px ;
    color: #0404b4;
    font-weight: 600;*/
    font-size: 20px;
    color: #0404b4;
    font-weight: 400;
    

}
.table-data ul li{
    /* font-size:20px ;
     color: #0404b4;
     font-weight: 600;*/
    
    
 }
 .table-items{
   margin: 0 8px 15px 8px;
 }